<img src="<%= movie.get('imageUrl')%>" alt="Banner" title="<%= movie.get('description')%>"/>
<div class="">
    <h2><%= movie.get('name')%></h2>

    <span><strong><%= movie.get('stock') - movie.get('rented') %></strong> edicoes em estoque</span>
    <input class="btAlugar" type="button" value="Locar" />
    <input class="btDevolver" type="button" value="Devolver" />
</div>
