﻿<div id="movielist-view">
    <div>
        <form id="movie-form" data-validate="parsley">
            <p>
                <span>Nome:</span>
                <input id="name" type="text" data-required="true" />
            </p>
            <p>
                <span>Descricao:</span>
                <input id="description" type="text" data-required="true" />
            </p>
            <p>
                <span>Estoque:</span>
                <input id="stock" type="text" data-required="true" data-type="number" data-range="[1, 100]" />
            </p>
            <p>
                <span>Cartaz:</span>
                <input id="imageUrl" type="text" />
            </p>
            <input id="btNew" type="button" value="cadastrar" />
        </form>
    </div>
    <ul class="movieList clearFix" id="movielist">
    </ul>

</div>
