/*
# CSS STRUCTURE PAGE
# 
# GLOBAL CONFIGURATION
#
# by Jonas Chaves
# 2013, May
*/

@import url(http://fonts.googleapis.com/css?family=Denk+One);

body {
	background: #dedede;
	font-family: sans-serif;
	margin: 20px;
}

h1 {
	background: #ccc url('/content/jivago.png') no-repeat center 0px;

	font-family: "Denk One";
	font-size: 2em;
	text-align: center;
	line-height: 13.6em;
	
	width: 200px;
	height: 200px;
	
	margin: 20px auto;
}
	
#page-loading.active {
		top: 0;
		bottom: 0;    
		left: 0;    
		right: 0;    
		background-color: rgba(255, 255, 255, 0.32);    
		z-index: 99;
		position: fixed;
}

.movieList {
	li {
		background: #ccc;
		display: block;
		width: 165px;
		padding: 20px;
		margin: 10px;
		float: left;

		h2 {
			font-size: 1.3em;
		}

		p {
			font-size: .8em;
			line-height: 1.2em;
			margin-bottom: 20px;
		}

		img {
			background: black;
			color: grey;
			width: 165px;
			height: ;
			margin-bottom: 20px;
		}

		span {
			color: grey;
			display: block;
			margin-bottom: 20px;
			font-style: italic;
		}

		input[type="button"] {
			background: #f60;
			border-radius: 10px;

			color: white;			
			font-size: 1em;
			font-weight: bold;
			text-transform: uppercase;

			padding: 5px 10px;

			cursor: pointer;

			&:hover{ background: multiply(#f60, #999); }
			
			&:disabled{ background: #dedede; }

		}
		
	}


}