﻿<!DOCTYPE html>

    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <meta name="description" content="">

        <!-- for Web Apps -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="transparent" />
        <meta name="apple-mobile-web-app-title" content="" />
        <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
        <!-- for Web Apps -->

        <title>Jivago Project</title>
        
        @Styles.Render("~/Content/Less")

        
        <script src="@Url.Content("~/Scripts/libs/modernizr-2.5.3.js")"></script>
    </head>

    <body>

        <!--[if lt IE 7]>
            <!-- Message/Action for outdated versions of Internet Explorer -->
        <![endif]-->

        <!-- Author's Code Here -->
        
        <section class="wrapper">
            <h1>JIVAGO</h1>
            @RenderBody()
    
         
        </section>
        <div id="page-loading"></div>
        <script data-main="scripts/main" src="scripts/libs/require.js"></script>
        @RenderSection("scripts", required: false)
        

        <!-- Inset Google Analytics UA-XXXXX-X Code below -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- This code is adapted from http://twitter.github.com/bootstrap/examples/hero.html -->
    </body>
</html>

